{% extends "admin/base.html" %}
{% load static %}

{% block title %}
    Admin Page
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">Daily Blog Administration</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/override.css' %}">
      <link rel="stylesheet" href="{% static 'css/background.css' %}">  
{% endblock %}
{% block nav-global %}{% endblock %}
